In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import scipy
import numpy as np
#from sklearn.cross_validation import train_test_split # to split dataset

In [2]:
df = pd.read_csv("total_gender_data.csv")
df.tail()

#df['2011'] = pd.to_numeric(df['2011'], errors='coerce')
#df.dtypes
type(df.iloc[0,1])

str

In [3]:
#cols = df.columns
cols = [item for item in df.columns if item not in ["GEO_ID","County","State"]]
df_geo = df[["GEO_ID","County","State"]]
#cols.remove('fistcolumn')
for col in cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
#type(df.iloc[2,3])

In [5]:
df = df.iloc[:,3:]

In [7]:

df = df.fillna(axis=1, method='ffill')
df.tail()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
3216,18238.0,18828.0,19012.0,18869.0,16351.0,15962.0,16055.0,16842.0,16138.0,15435.0,18298.0
3217,14441.0,15277.0,15328.0,15730.0,14610.0,14642.0,14229.0,14170.0,15163.0,14835.0,15791.0
3218,12644.0,13493.0,14317.0,14311.0,15434.0,15411.0,15721.0,16175.0,16744.0,16784.0,14978.0
3219,14185.0,14884.0,15040.0,15485.0,15482.0,15524.0,15843.0,16181.0,16089.0,15934.0,15937.0
3220,12593.0,13009.0,13474.0,14306.0,14306.0,14306.0,14306.0,14306.0,14306.0,14306.0,16222.0

In [8]:
axisvalues=list(range(2010,2021))
print(axisvalues)

def calc_slope(row):
    a = scipy.stats.linregress(axisvalues, y = row)
    return pd.Series(a._asdict())

df = df.join(df.apply(calc_slope,axis=1))
#print (df.head())

#X = []  # put your dates in here
#y = []  # put your kwh in here

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [9]:
df.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,slope,intercept,rvalue,pvalue,stderr,intercept_stderr
0,29949.0,30861.0,31207.0,30868.0,30210.0,30760.0,31259.0,31891.0,34497.0,35769.0,35545.0,550.700000,-1.077586e+06,0.854724,8.024504e-04,111.482053,224636.614125
1,26775.0,27835.0,27216.0,26948.0,27207.0,27557.0,28534.0,30157.0,31394.0,32257.0,34562.0,699.109091,-1.379574e+06,0.891536,2.276954e-04,118.395509,238567.244542
2,20335.0,20316.0,21521.0,21996.0,21865.0,22369.0,23174.0,22817.0,24612.0,25323.0,27151.0,603.018182,-1.192220e+06,0.950575,7.230152e-06,65.656345,132297.699072
3,26902.0,25620.0,23878.0,23529.0,25718.0,25968.0,26704.0,29984.0,28231.0,25860.0,28750.0,337.772727,-6.541444e+05,0.573410,6.514865e-02,160.866162,324145.715651
4,28186.0,28045.0,29101.0,30090.0,30606.0,30838.0,31793.0,32407.0,33435.0,35500.0,34629.0,735.072727,-1.449842e+06,0.978904,1.633495e-07,51.142062,103051.382184

In [10]:
df['2021']=df['2020']+df['slope']
df['2022']=df['2021']+df['slope']
df['2023']=df['2022']+df['slope']
df['2024']=df['2023']+df['slope']
df['2025']=df['2024']+df['slope']
drop_col = ['slope','intercept','rvalue','pvalue','stderr','intercept_stderr']
df = df.drop(columns = drop_col, axis=1)
df.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,29949.0,30861.0,31207.0,30868.0,30210.0,30760.0,31259.0,31891.0,34497.0,35769.0,35545.0,36095.700000,36646.400000,37197.100000,37747.800000,38298.500000
1,26775.0,27835.0,27216.0,26948.0,27207.0,27557.0,28534.0,30157.0,31394.0,32257.0,34562.0,35261.109091,35960.218182,36659.327273,37358.436364,38057.545455
2,20335.0,20316.0,21521.0,21996.0,21865.0,22369.0,23174.0,22817.0,24612.0,25323.0,27151.0,27754.018182,28357.036364,28960.054545,29563.072727,30166.090909
3,26902.0,25620.0,23878.0,23529.0,25718.0,25968.0,26704.0,29984.0,28231.0,25860.0,28750.0,29087.772727,29425.545455,29763.318182,30101.090909,30438.863636
4,28186.0,28045.0,29101.0,30090.0,30606.0,30838.0,31793.0,32407.0,33435.0,35500.0,34629.0,35364.072727,36099.145455,36834.218182,37569.290909,38304.363636

In [11]:
df = df.apply(np.int64)
df = pd.concat([df_geo, df],axis=1)

In [12]:
#df.head()
df.to_csv("total_w_5_year_prediction.csv",index=False)

In [ ]:
#model = LinearRegression()
#model.fit(X, y)

In [13]:
df.tail()

,GEO_ID,County,State,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
3216,0500000US72145,Vega Baja Municipio,Puerto Rico,18238,18828,19012,18869,16351,15962,16055,16842,16138,15435,18298,18059,17820,17582,17343,17105
3217,0500000US72147,Vieques Municipio,Puerto Rico,14441,15277,15328,15730,14610,14642,14229,14170,15163,14835,15791,15799,15808,15817,15826,15835
3218,0500000US72149,Villalba Municipio,Puerto Rico,12644,13493,14317,14311,15434,15411,15721,16175,16744,16784,14978,15306,15634,15963,16291,16620
3219,0500000US72151,Yabucoa Municipio,Puerto Rico,14185,14884,15040,15485,15482,15524,15843,16181,16089,15934,15937,16099,16261,16424,16586,16748
3220,0500000US72153,Yauco Municipio,Puerto Rico,12593,13009,13474,14306,14306,14306,14306,14306,14306,14306,16222,16456,16691,16926,17161,17396

In [ ]:

#X_predict = []  # put the dates of which you want to predict kwh here
#y_predict = model.predict(X_predict)